<!DOCTYPE html>
<html>

	<head>
		<title>新冠肺炎-从防疫到抗疫第一线</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<link rel="stylesheet" type="text/css" href="style/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css" />
		<link rel="stylesheet" type="text/css" href="style/jquery.jScrollPane.css" />
		<link rel="stylesheet" type="text/css" href="style/jquery.nivo.slider.css" />
		<link rel="stylesheet" type="text/css" href="style/mediaelementplayer.min.css" />
		<link rel="stylesheet" type="text/css" href="style/supersized/supersized.css" />
		<link rel="stylesheet" type="text/css" href="style/fancybox/jquery.fancybox.css" />
		<link rel="stylesheet" type="text/css" href="style/fancybox/helpers/jquery.fancybox-buttons.css" />
		<link rel="stylesheet" type="text/css" href="style/widget.css" />
		<link rel="stylesheet" type="text/css" href="style/base.css" />

		<link rel="stylesheet" type="text/css" media="screen and (max-height:500px)" href="style/responsive/height-0000-0500.css" />

		<link rel="stylesheet" type="text/css" media="screen and (max-width:1179px)" href="style/responsive/width-0000-1179.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-width:959px)" href="style/responsive/width-0000-0959.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="style/responsive/width-0000-0767.css" />

		<link rel="stylesheet" type="text/css" media="screen and (min-width:1440px) and (max-width:1679px)" href="style/responsive/width-1440-1679.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width:1180px) and (max-width:1439px)" href="style/responsive/width-1180-1439.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width:960px) and (max-width:1179px)" href="style/responsive/width-0960-1179.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width:768px) and (max-width:959px)" href="style/responsive/width-0768-0959.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width:480px) and (max-width:767px)" href="style/responsive/width-0480-0767.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-width:479px)" href="style/responsive/width-0000-0479.css" />

		<script type="text/javascript" src="script/jquery.min.js"></script>
		<script type="text/javascript" src="script/jquery-migrate.min.js"></script>

	</head>

	<body>

		<!-- Main preloader -->
		<div id="template-main-preloader"></div>
		<!-- /Main preloader -->

		<!-- Main carousel -->
		<div id="template-main-carousel">

			<ul class="template-main-carousel template-reset-list">

				<!-- 1st slide -->
				<li>

					<div class="template-vertical-center-outer">

						<div class="template-vertical-center-middle">

							<div class="template-vertical-center-inner">

								<div class="template-main-carousel-slide-top-line"></div>
								<h2>抗疫先锋<br/>他    们<br/>在   第一线</h2>
								<div class="template-main-carousel-slide-progress-bar"></div>
								<h4>用青春和热血<span>背负前线&#039;贡献自己的力量</span></h4>

							</div>

						</div>

					</div>

				</li>
				<!-- /1st slide -->

				<!-- 2nd slide -->
				<li>

					<div class="template-vertical-center-outer">

						<div class="template-vertical-center-middle">

							<div class="template-vertical-center-inner">

								<div class="template-main-carousel-slide-top-line"></div>
								<h2>抗疫先锋<br/>他    们<br/>为国  驰援</h2>
								<div class="template-main-carousel-slide-progress-bar"></div>
								<h4>虽远在  天涯海角<span>但心系  祖国</span></h4>

							</div>

						</div>

					</div>

				</li>
				<!-- /2nd slide -->

				<!-- 3rd slide -->
				<li>

					<div class="template-vertical-center-outer">

						<div class="template-vertical-center-middle">

							<div class="template-vertical-center-inner">

								<div class="template-main-carousel-slide-top-line"></div>
								<h2>抗疫先锋<br/>他    们<br/>绝地  守护</h2>
								<div class="template-main-carousel-slide-progress-bar"></div>
								<h4>逆行  之光  点燃  希望<span>守护  身边的   家园</span></h4>

							</div>

						</div>

					</div>

				</li>
				<!-- /3rd slide -->

			</ul>

		</div>
		<!-- /Main carousel -->

		<!-- Supersized navigation buttons -->
		<div>
			<a href="#" id="template-main-carousel-prev-button"></a>
			<a href="#" id="template-main-carousel-next-button"></a>
		</div>
		<!-- /Supersized navigation buttons -->

		<!-- Verical bar with menu + logo -->
		<div id="template-navigation-bar-vertical">

			<!-- Right bar -->
			<div id="template-navigation-bar-vertical-section-right">

				<!-- Menu icon -->
				<a href="#" id="template-navigation-bar-vertical-icon-menu" title="Click to toggle menu"></a>
				<!-- /Menu icon -->

				<!-- Logo -->
				<div class="template-vertical-center-outer">
					<div class="template-vertical-center-middle">
						<div class="template-vertical-center-inner">
							<a href="#!/home">
								<img src="media/image/logo.png" alt="" />
							</a>
						</div>
					</div>
				</div>
				<!-- /Logo -->

			</div>
			<!-- /Right bar -->

			<!-- Left bar -->
			<div id="template-navigation-bar-vertical-section-left">

				<div class="template-vertical-center-outer">

					<div class="template-vertical-center-middle">
						<div class="template-vertical-center-inner">

							<!-- Menu -->
							<nav id="template-menu-box">

								<ul id="template-menu">
									<li>
										<a href="#!/home">主页</a>
									</li>
									<li>
										<a href="#!/about-us-1">关于新冠</a>
									</li>
									<li>
										<a href="#!/services">防范新冠</a>
									</li>
									<li>
										<a href="#!/our-process">我们能做的</a>
									</li>
									<li>
										<a href="#!/">先锋事迹</a>
										<ul>
											<li>
												<a href="#!/portfolio/item">公益安徽</a>
											</li>
											<li>
												<a href="#!/portfolio/layout-1-column">不畏将来，不念过往</a>
											</li>
											<li>
												<a href="#!/portfolio/layout-2-columns">留一束光照进心灵</a>
											</li>
											<li>
												<a href="#!/portfolio/layout-3-columns">生命危机 成长契机</a>
											</li>
											<li>
												<a href="#!/portfolio/layout-4-columns">致敬英雄</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#!/contact">联系我</a>
									</li>
								</ul>

							</nav>
							<!-- /Menu -->

						</div>

					</div>

				</div>

			</div>
			<!-- /Left bar -->

		</div>
		<!-- /Verical bar with menu + logo -->

		<!-- Mobile menu -->
		<nav id="template-menu-responsive">
			<div id="template-menu-responsive-logo">
				<a href="#!/home">
					<img src="media/image/logo.png" alt="" />
				</a>
			</div>
		</nav>
		<!-- /Mobile menu -->

		<!-- Page -->
		<div id="template-page-box">
			<div id="template-page"></div>
			<div id="template-page-preloader"></div>
		</div>
		<!-- /Page -->

		<script type="text/javascript">
			var config = {
				"slide": [{ "image": "media/image/background/slider_01.jpg" },
					{ "image": "media/image/background/slider_02.jpg" }, { "image": "media/image/background/slider_03.jpg" }
				],
				"template": {
					"hashBang": "#!/",
					"mainPreloader": 5,
					"menuOpenStart": 1,
					"title": "Node - Responsive Portfolio Template",
					"keywords": "",
					"description": "",
					"requestType": 1,
					"requestCurrent": ""
				},
				"page": [
					{ 
						"hash": "about-us-1", 
						"title": "About Us | Node - Responsive Portfolio Template", 
						"keywords": "", 
						"description": "", 
						"fileHTML": "about_us_1.html", 
						"fileJS": "" 
					},
					{ 	"hash": "about-us-2", 
						"title": "About Us | Node - Responsive Portfolio Template", 
						"keywords": "", 
						"description": "", 
						"fileHTML": "about_us_2.html", 
						"fileJS": ""
					},
					{
						"hash": "milestones",
						"title": "Milestones | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "milestone.html",
						"fileJS": ""
					},
					{
						"hash": "services",
						"title": "Services | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "service.html",
						"fileJS": ""
					},
					{
						"hash": "our-process",
						"title": "Our Process | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "our_process.html",
						"fileJS": ""
					},{
						"hash": "portfolio/item",
						"title": "Portfolio Item Page | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "portfolio_item_page.html",
						"fileJS": ""
					}, {
						"hash": "portfolio/layout-1-column",
						"title": "Portfolio Layout 1 Column | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "portfolio_layout_1_column.html",
						"fileJS": ""
					}, {
						"hash": "portfolio/layout-2-columns",
						"title": "Portfolio Layout 2 Columns | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "portfolio_layout_2_column.html",
						"fileJS": ""
					}, {
						"hash": "portfolio/layout-3-columns",
						"title": "Portfolio Layout 3 Columns | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "portfolio_layout_3_column.html",
						"fileJS": ""
					}, {
						"hash": "portfolio/layout-4-columns",
						"title": "Portfolio Layout 4 Columns | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "portfolio_layout_4_column.html",
						"fileJS": ""
					}, {
						"hash": "contact",
						"title": "Contact | Node - Responsive Portfolio Template",
						"keywords": "",
						"description": "",
						"fileHTML": "contact.html",
						"fileJS": ""
					}
				]
			};
		</script>

		<!-- External jQuery plugins -->
		<script type="text/javascript" src="script/jquery-ui.min.js"></script>
		<script type="text/javascript" src="script/jquery.easing.js"></script>
		<script type="text/javascript" src="script/jquery.timeago.js"></script>
		<script type="text/javascript" src="script/jquery.blockUI.js"></script>
		<script type="text/javascript" src="script/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="script/jquery.actual.min.js"></script>
		<script type="text/javascript" src="script/jquery.ba-bqq.min.js"></script>
		<script type="text/javascript" src="script/jquery.linkify.min.js"></script>
		<script type="text/javascript" src="script/jquery.jScrollPane.js"></script>
		<script type="text/javascript" src="script/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="script/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="script/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="script/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="script/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="script/jquery.supersized.min.js"></script>
		<script type="text/javascript" src="script/jquery.touchSwipe.min.js"></script>
		<script type="text/javascript" src="script/jquery.elastic.source.js"></script>
		<script type="text/javascript" src="script/jquery.infieldlabel.min.js"></script>
		<script type="text/javascript" src="script/jquery.nivo.slider.pack.js"></script>
		<script type="text/javascript" src="script/jquery.carouFredSel.packed.js"></script>
		<script type="text/javascript" src="script/mediaelement-and-player.min.js"></script>
		<script type="text/javascript" src="script/jquery.supersized.shutter.min.js"></script>

		<script type="text/javascript" src="script/jquery.fancybox.js"></script>
		<script type="text/javascript" src="script/jquery.fancybox-media.js"></script>
		<script type="text/javascript" src="script/jquery.fancybox-buttons.js"></script>
		<!-- /External jQuery plugins -->

		<!-- Template jQuery plugins -->
		<script type="text/javascript" src="script/helper.js"></script>
		<script type="text/javascript" src="script/template.js"></script>

		<script type="text/javascript" src="script/jquery.carousel.js"></script>
		<script type="text/javascript" src="script/jquery.listFilter.js"></script>
		<script type="text/javascript" src="script/jquery.preloaderImage.js"></script>
		<script type="text/javascript" src="script/jquery.dimensionListener.js"></script>
		<script type="text/javascript" src="script/jquery.responsiveElement.js"></script>

		<script type="text/javascript" src="script/component/jquery.template.tab.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.notice.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.accordion.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.googleMap.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.skillList.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.nivoSlider.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.testimonial.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.audioPlayer.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.counterList.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.callToAction.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.nivoSliderBox.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.preformattedText.js"></script>
		<script type="text/javascript" src="script/component/jquery.template.twitterUserTimeline.js"></script>
		<!-- /Template jQuery plugins -->

		<script type="text/javascript">
			$(document).ready(function($) {
				$().template(config);
			});
		</script>

	</body>

</html>